<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carbon Calculator Results</title>
</head>
<body>
    <h1>Carbon Calculator</h1>

    <!-- <h2>Calculate Carbon Emissions</h2>
    <form method="post" action="{% url 'calculate_emissions' %}">
        {% csrf_token %}
        
        <label for="distance">Distance Traveled (km):</label>
        <input type="number" id="distance" name="distance">
        
        <label for="electricity">Electricity Usage (kWh):</label>
        <input type="number" id="electricity" name="electricity">
        
        <label for="waste">Waste Production (kg):</label>
        <input type="number" id="waste" name="waste">
        
        <label for="meals">Meals Consumed:</label>
        <input type="number" id="meals" name="meals">
        
        <label for="screentime">Screen Time (hours):</label>
        <input type="number" id="screentime" name="screentime">
        
        Submit button
        <!<button type="submit">Calculate</button>
    </form> --> 
    {% if total_emissions %}
        <h2>Calculated Emissions</h2>
        {% block content %}
        <p>Total emissions: {{total_emissions }}</p>
        {% endblock content %}
        

    {% endif %}
    
</body>
</html>

















